<html>
	<head>
	</head>
	<body>
	   <form method='post' action=''>
    		{% csrf_token %}
		<h1> {{question.question_text}}</h1>
		<input type="radio" name="choice {{question.question_id}}" id="choice_1" value="{{question.choice_1}}">
        	<label for="choice_1">{{ question.choice_1 }}</label>
		<br>

		<input type="radio" name="choice {{question.question_id}}" id="choice_2" value="{{question.choice_2}}">
        	<label for="choice_2">{{ question.choice_2 }}</label>
		<br>

		<input type="radio" name="choice {{question.question_id}}" id="choice_3" value="{{question.choice_3}}">
        	<label for="choice_3">{{ question.choice_3 }}</label>
		<br>

		<input type="radio" name="choice {{question.question_id}}" id="choice_4" value="{{question.choice_4}}">
        	<label for="choice_4">{{ question.choice_4 }}</label>
		<br>
		<input type="submit" value="submit">
	     </form>
	</body>
</html>
